.bnbInputWrapper {
    position: relative;
    display: inline-block;
}

.bnbAmountInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 75px;
}

.bnbInputSuffix {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: .8em;
}